@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

:root {
    --body: #E3E9E9;
    --text-colour: #808586;
    --header-bg: #133C55;
    --link-hover: #fff;
    --span-col: #5ea7e2;
    --btn-border: #fec107;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: var(--text-colour);  
    scroll-behavior: smooth;  
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--body);
    height: 100vh;
    width: 100%;
    position: relative;
}

/* h1 {
    margin-bottom: 40px;
}  */

p {
    line-height: 2;
}

.app-comtainer {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.container {
    height: 100%;
    padding: 50px;
}
/* 
.container h1{
    margin-left: 100px;
} */

.nav-menu {
    background-color: var(--header-bg);
    display: flex;
    justify-content: space-between;
}

.navbar-item {
    list-style: none;
    display: flex;
    padding: 30px;
}

.navbar-item li {
    padding: 20px;
    font-size: 1.5rem;
}

.navbar-item li a:hover{
    color: var(--link-hover);
}

.author-title {
    padding: 40px;
}

span {
    color: var(--span-col)
}

.is-active {
    color: var(--btn-border);
    text-decoration: underline;
}

.about-me-pic {
    width: 200px;
    /* height: 320px; */
    margin: 30px 100px;
}

.about-me-container.container {
    text-align: center;
}
/* 
.about-me-para {
    font-size: 1.5rem;
    width: 70%;
    margin-left: 100px;
} */

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.social-icon a {
    padding: 10px;
}

/* ----- Portfolio ----- */
.portfolio-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-container ul {
    display: grid;
    grid-template-columns: auto auto auto;
}

.portfolio-img {
    height: 350px;
    width: 350px;
    padding: 20px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}